.custom-nav-link {
    color: #ffffff; 
}
.custom-nav-link .nav-link {
    color: #ffffff; 
}
.custom-nav-link .dropdown-menu {
    background-color: #343a40; /* цвет фона - тёмно-серый */
}

.custom-nav-link .dropdown-item {
    color: #ffffff; /* цвет текста - белый */
}

.custom-nav-link .dropdown-item:hover {
    background-color: #6c757d; /* цвет фона при наведении - серый */
}

.custom-nav-link:hover,
.custom-nav-link .nav-link:hover{
    color: #48ff00;
} 